





























/*CSS main test post specific testing - NOT TO BE USED FOR OFFICIAL POSTS */




.first {
    color:blue
}

span.inside {
    color:cornflowerblue;
    font-style:oblique;
}

.mauve {
    color: #987284;
}
.teal {
    color: #75B9BE;
}
.mint {
    color: #B5BE89;
}
.blush {
    color: #F9B5AC;
}
.coral {
    color: #EE7674;
}