





























/*CSS main test post specific testing - NOT TO BE USED FOR OFFICIAL POSTS */




.first {
    color:blue
}

span.inside {
    color:cornflowerblue;
    font-style:oblique;
}

.mauve {
    color: #B597D8;
}
.teal {
    color: #75B9BE;
}
.mint {
    color: #B5BE89;
}
.blush {
    color: #F6998D;
    
    /*#F9B5AC; */
}
.orange {
    color: #F3AE53;
    
   /* #F5C07A; */
}